<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>诺科售后后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="css/public.css" media="all" />
</head>
<body class="childrenBody">
<!--	<blockquote class="layui-elem-quote layui-bg-green">
		<div id="nowTime"></div>
	</blockquote>-->
	<div class="layui-row layui-col-space10 panel_box">
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/repairman/index">
				<div class="panel_icon" style="background-color: #1bbcc2">
					<i class="layui-anim seraph icon-icon10" data-icon="icon-icon10"></i>
				</div>
				<div class="panel_word outIcons">
					<span>维修人员</span>
					<em>售后工作人员维护</em>
					<cite class="layui-hide">维修人员管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/terminal/index">
				<div class="panel_icon" style="background-color: #47e69c">
					<i class="layui-anim seraph icon-mokuai" data-icon="icon-icon10"></i>
				</div>
				<div class="panel_word outIcons">
					<span>设备管理</span>
					<em>维护设备类型</em>
					<cite class="layui-hide">设备管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/fault/index">
				<div class="panel_icon" style="background-color: #c23ab9">
					<i class="layui-anim seraph icon-caidan" data-icon="icon-icon10"></i>
				</div>
				<div class="panel_word outIcons">
					<span>故障类型</span>
					<em>维护故障类型</em>
					<cite class="layui-hide">故障类型管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:" data-url="/order/index">
				<div class="panel_icon" style="background-color: #d4573b">
					<i class="layui-anim seraph icon-oschina"></i>
				</div>
				<div class="panel_word outIcons">
					<span>订单管理</span>
					<em>保障订单查询</em>
					<cite class="layui-hide">订单管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:" data-url="/report/index">
				<div class="panel_icon" style="background-color: #f5e42a">
					<i class="layui-anim seraph icon-text"></i>
				</div>
				<div class="panel_word outIcons">
					<span>订单报表</span>
					<em>订单报表查询</em>
					<cite class="layui-hide">订单报表</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:" data-url="/notice/index">
				<div class="panel_icon" style="background-color: #b56c18">
					<i class="layui-anim seraph icon-xiugai"></i>
				</div>
				<div class="panel_word outIcons">
					<span>公告管理</span>
					<em>小程序内轮播广告</em>
					<cite class="layui-hide">公告管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:" data-url="/pic/index">
				<div class="panel_icon" style="background-color: #95deb9">
					<i class="layui-anim layui-icon" data-icon="&#xe857;">&#xe857;</i>
				</div>
				<div class="panel_word outIcons">
					<span>轮播图</span>
					<em>小程序内广告轮播图</em>
					<cite class="layui-hide">轮播图</cite>
				</div>
			</a>
		</div>

	</div>

	<script type="text/javascript" src="layui/layui.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>